<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, 130 %>
        <%= @user.name %>
      </h1>
      <p>User for <%= pluralize(((((Time.now - @user.created_at) / 60) / 60) / 24).round, 'day') %></p>
    </section>
  </aside>
</div>


