<footer class="footer">
  <small>
    The <a rel="noopener noreferrer" target="_blank" href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a rel="noopener noreferrer" target="_blank" href="http://www.michaelhartl.com/">Michael Hartl</a>
    <br />
    Completed by <a rel="noopener noreferrer" target="_blank" href="http://www.thomasrudge.co.uk">Thomas Rudge</a>.
    Codebase can be found <a rel="noopener noreferrer" target="_blank" href="http://www.github.com/Thomas-Rudge/rails_twitter_app">here</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a rel="noopener noreferrer" target="_blank" href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
